@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* Base Surface */
    --background: 0 0% 2%;
    /* #050505 */
    --foreground: 0 0% 95%;
    /* #F2F2F2 */

    /* Cards & Components */
    --card: 0 0% 7%;
    /* #121212 */
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 95%;

    /* Brand Colors */
    --primary: 72 100% 50%;
    /* #CCFF00 Acid Lime */
    --primary-foreground: 0 0% 2%;

    --secondary: 266 100% 50%;
    /* #7000FF Electric Violet */
    --secondary-foreground: 0 0% 95%;

    --accent: 300 100% 50%;
    /* #FF00FF Glitch Pink */
    --accent-foreground: 0 0% 95%;

    /* Functional Colors */
    --muted: 240 5% 20%;
    /* #333333 approx for muted bg */
    --muted-foreground: 240 5% 65%;
    /* #A1A1AA */

    --destructive: 0 100% 59%;
    /* #FF2E2E Laser Red */
    --destructive-foreground: 0 0% 95%;

    --border: 0 0% 16%;
    /* #2A2A2A */
    --input: 0 0% 16%;
    --ring: 72 100% 50%;
    /* Matches Primary */

    --radius: 0.25rem;
    /* 4px default */

    /* Status - Custom to design system */
    --success: 155 100% 50%;
    /* #00FF94 */
    --warning: 50 100% 50%;
    /* #FFD600 */
  }

  /* Force dark mode styles everywhere since we are Dark Only */
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}